# Ignore dependencies, they are installed via npm ci in the container
node_modules

# Ignore local environment files
.env

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore Git files
.git
.gitignore
